@using database.DataModel
@model HomeGameViewModel
@{
    ViewData["Title"] = "Головна сторінка";
}
<h3>
    @if (User?.IsInRole("Admin") ?? true)
    {
        <a asp-controller="Game" asp-action="AddGame" class="btn btn-success" style="float:right;margin-right:85px;">Додати нову гру</a>
    }
</h3>
<form method="get">
    <label>Сортувати:</label>
    <select name="sortType">
        <option value="0">
            За назвою
        </option>
        <option value="1">
            За Роком</option>
    </select>
    <button type="submit" class="btn btn-primary">Сортувати</button>
</form>
<hr />
@foreach (var elem in Model.Game)
{
        <div class="panel panel-default">
            <div class="panel-heading"><a asp-controller="Game" asp-action="ViewGame" asp-route-name="@elem.CurrentGame.Name">@elem.CurrentGame.Name</a></div>
            <div class="panel-body">
                <br>
                <img src="@elem.CurrentGame.Img" />
                @*  <b>Видавець:</b> <a asp-controller="Profile" asp-action="View" asp-route-name="@elem.CurrentGame.GameDev.Name"><span style="font-size: 12px;color: black;">@elem.CurrentGame.GamePub.Name</span></a>
                    <b>Розробник:</b> <a asp-controller="Profile" asp-action="View" asp-route-name="@elem.CurrentGame.GameDev.Name"><span style="font-size: 12px;color: black;">@elem.CurrentGame.GameDev.Name</span></a>*@
                @if (User?.IsInRole("Admin") ?? true)
                {
                    <a asp-controller="Admin" asp-action="DeleteGame" asp-route-id="@elem.CurrentGame.Id" class="btn btn-warning" style="float:right;">Видалити гру</a>
                }
                @if (User?.Identity?.IsAuthenticated ?? true)
                {
                    <a asp-controller="Game" asp-action="AddLikeGame" asp-route-id="@elem.CurrentGame.Id" class="btn btn-warning" style="float:right;">Додати в улюблені</a>
                }
                @* <b>Жанр:</b> <a asp-controller="Profile" asp-action="View" asp-route-name="@elem.CurrentGame.Gen.Name"><span style="font-size: 12px;color: black;">@elem.CurrentGame.Gen.Name</span></a>*@
                <b style="margin-left:5%;">Рік випуску:</b> <span style="font-size: 12px;color: black;">@elem.CurrentGame.DateCreate</span>
                <br />
                <b></b><span style="font-size: 12px;color: black;">@elem.CurrentGame.Description</span>
            </div>
        </div>
        }
