@model DevView
@if (Model.Message != null)
{
    <div class="alert alert-success" role="alert">@Model.Message</div>
}
<h3> Додати гру.</h3>

<form method="post" asp-controller="Game" asp-action="AddGame">
    <div class="form-group">
        <label for="exampleInputEmail1">Назва гри:</label>
        <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
    </div>
    <div class="form-group">
        <label for="inputDecription">Синопсис:</label>
        <input type="text" name=" gameDescr" class="form-control" id="inputDecription" placeholder="Синопсис">
    </div>
    <div class="form-group">
        <label for="inputGenre">Жанр:</label>
        <input type="text" name="gameGenre" class="form-control" id="inputGenre" placeholder="Жанр">
    </div> <div class="form-group">
        <label for="inputDate">Дата випуску:</label>
        <input type="text" name="dateCreate" class="form-control" id="inputDate" placeholder="Дата випуску">
    </div>
    <label>Розробники:</label>
    <select name="dev">
        @foreach (DevModel elem in Model.GetDevelopments)
        {
            <option value="@elem.Id">@elem.Name</option>
        }
    </select>
    <label>Видавці:</label>
    <select name="pub">
        @foreach (PubModel elem in Model.GetPublishers)
        {
            <option value="@elem.Id">@elem.Name</option>
        }
    </select>
    <br />
    <button type="submit" class="btn btn-primary">Додати Гру</button>
</form>

